* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 330px) {
  body .portada {
    height: 300px;
  }
  body .portada .logoPortada {
    width: 250px;
    height: 250px;
  }
  body main .infoUsuario .infoTabla .italic {
    font-style: italic;
    display: inline;
  }
  body main .infoUsuario .fotoPerfil {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  body main .infoUsuario .fotoPepe {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  body main .infoUsuario .fotoTini {
    width: auto;
    height: 250px;
    margin-bottom: 20px;
  }
  body main .infoUsuario .agenda .reservas {
    width: 115px;
    background-color: #1c65a8;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  body main .busqueda {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  body main .busqueda .logoCarrito {
    font-size: 25px;
    margin-right: 15px;
    color: #1c65a8;
  }
  body main .busqueda .modalCarrito {
    display: inline;
  }
  body main .productos {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
  }
  body main .productos .fotoprod {
    width: 100px;
    height: 100px;
  }
  body main .contenedorCarrosel {
    width: 250px;
  }
  body main .contenedorCarrosel .logoONG {
    width: 200px;
    height: 200px;
  }
  body main .contenedorCarrosel .logoTexto {
    width: 200px;
    height: 270px;
  }
  body #subir {
    right: 10px;
  }
}
@media only screen and (min-width: 768px) {
  body main .infoUsuario {
    display: flex;
  }
  body main .infoUsuario .fotoPerfil {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }
  body main .infoUsuario .fotoPepe {
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  body main .infoUsuario .fotoTini {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }
  body main .infoUsuario .agenda .reservas {
    width: 180px;
    font-size: 18px;
  }
  body main .productos {
    grid-template-columns: 200px 200px 200px;
    grid-gap: 40px;
  }
  body main .productos .fotoprod {
    width: 200px;
    height: 200px;
  }
  body main .busqueda {
    flex-direction: row;
    justify-content: space-between;
  }
  body main .contenedorCarrosel {
    width: 500px;
  }
  body main .contenedorCarrosel .logoONG {
    width: 300px;
    height: 300px;
  }
  body main .contenedorCarrosel .logoTexto {
    width: 300px;
    height: 200px;
  }
  body #pieDePagina .redes #facebook::after {
    content: "Rayito de Luna";
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
  }
  body #pieDePagina .redes #instagram::after {
    content: "rayito_de_luna.uy";
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
  }
  body #pieDePagina .redes #whatsapp::after {
    content: "+598 099123456";
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
  }
  body #pieDePagina .redes #correo::after {
    content: "rayito_de_luna@gmail.com";
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
  }
  body #subir {
    right: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  body .portada {
    height: 400px;
  }
  body .portada .logoPortada {
    width: 350px;
    height: 350px;
  }
  body .portada a {
    text-transform: uppercase;
  }
  body main .reservas:hover {
    transform: scale(1.1);
  }
  body main .reservas {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  body main .botonDonar:hover {
    transform: scale(1.1);
  }
  body main .botonDonar {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  body main .botonEnviar:hover {
    transform: scale(1.1);
  }
  body main .botonEnviar {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  body main .btn-primary:hover {
    transform: scale(1.1);
  }
  body main .btn-primary {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  body main .productos {
    grid-template-columns: repeat(4, 220px);
    grid-gap: 20px;
  }
  body main .productos .fotoprod {
    width: 220px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
  }
  body main .productos .fotoprod:hover {
    transform: scale(1.25);
  }
  body main .contenedorCarrosel {
    width: 700px;
  }
  body main .contenedorCarrosel .logoONG {
    width: 500px;
    height: 500px;
  }
  body main .contenedorCarrosel .logoTexto {
    width: 500px;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  body #pieDePagina .redes .logoRedes {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  body main .productos {
    grid-template-columns: repeat(4, 300px);
    grid-gap: 30px;
  }
  body main .productos .fotoprod {
    width: 300px;
    height: 300px;
  }
}

.portada {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.portada .nomUsuario {
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: uppercase;
  font-size: 25px;
}
.portada .menuPrincipal ul {
  display: flex;
  justify-content: space-around;
}
.portada .menuPrincipal a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.portada .menuPrincipal a:hover {
  color: #c71414;
}
.portada .menuPrincipal a:focus {
  color: #c71414;
}
.portada .menuPrincipal button {
  border: none;
}
.portada .menuPrincipal button .iconoBarra {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
main .imgNoticia {
  padding-top: 10px;
  padding-bottom: 10px;
}
main .productos .precio {
  display: inline-block;
  margin-left: 5px;
}
main .busqueda .btnModalCerrar {
  position: absolute;
}
main .busqueda #notificacionCarrito {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: -5px;
  border-radius: 100%;
  color: white;
  background-color: #d61709;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
main .comentarios form {
  padding: 10px;
}
main .comentarios form .registro {
  border: solid 1px black;
}
main .comentarios form .botonEnviar {
  background-color: #1c65a8;
  color: #fff;
  width: 215px;
  padding: 5px;
  font-size: 18px;
}
main .tarjetas {
  margin: 0 auto;
}
main .contenedorCarrosel {
  width: 500px;
  height: auto;
}
main .contenedorCarrosel .logoONG {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 10px;
}
main .contenedorCarrosel .logoTexto {
  text-align: center;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}
main section .botonDonar {
  width: 215px;
  padding: 10px;
  font-size: 20px;
}

#pieDePagina {
  background-color: #68bbf1;
  display: flex;
  justify-content: space-between;
}
#pieDePagina .mapa {
  grid-column: 3;
  padding: 5px;
}
#pieDePagina .redes {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
#pieDePagina .redes .logoRedes {
  padding: 5px;
  color: #fff;
  margin-bottom: 8px;
}

#subir {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  background-color: #0a96f3;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */